<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SDownload.Properties.Settings>
            <setting name="DownloadFolder" serializeAs="String">
                <value>[MUSICFOLDER]</value>
            </setting>
            <setting name="iTunes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AuthorFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDownloadLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomITunesLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBetaUpdates" serializeAs="String">
                <value>False</value>
            </setting>
        </SDownload.Properties.Settings>
    </userSettings>
</configuration>
